body {
	font-family: Helvetica;	
	color: black;
	margin: 0;
	text-align: center;
	background-color: black;
}

h1 {
	font-weight: lighter;
	color: white;
}

#logo {
	height: 300px;
	width: 150px;
	border-radius: 30px;
}

#container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
	flex-direction: column;
}
